<!DOCTYPE html>
<html>
<title>Mood Melody</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="static/util.css">
<link rel="stylesheet" type="text/css" href="static/main.css">

<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/record-player-1605298086.jpg?crop=1.00xw:0.747xh;0,0.105xh&resize=1200:*');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    <form method="POST" action="/">
        <button name="action1" value="LOGO"><img src="https://www.themusiclab.org/dist/0cfaeccbe50aacec32c5e79e5e495943.png" width = 50px height=50px></button>
     </form>
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-opacity">MoodMelody</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <form class="flex-w flex-c-m contact100-form validate-form p-t-70" method="POST">
      <div class="wrap-input100 validate-input where1" data-validate = "Please enter something">
        <input class="s1-txt1 placeholder0 input100" name="text-content" placeholder="What I'm thinking...">
        <span class="focus-input100"></span>
      </div>

    </form>			

  </div>
</div>

</body>
</html>